<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Catalogo</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="items">
    <!--binding del dom al property del objeto
    [propiedadDelComponente]="valorDesdeElDOM"
    bind-propiedadDelComponente="valorDesdeElDOM"
    -->
    <mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let item of items">
        <ng-container *ngIf="item.imageList && item.imageList[0]">
          <img height="200px" data-src="data:image/png;base64,{{item.imageList[0].image}}" alt={{item.name}} [routerLink]="['/itemdetail', item.id]">
        </ng-container>
        <ng-container *ngIf="item.imageList && !item.imageList[0]">
          <img height="200px" alt={{item.name}} [routerLink]="['/itemdetail', item.id]"
            src='https://image.shutterstock.com/image-vector/no-image-available-icon-photo-260nw-1251146734.jpg'>
        </ng-container>
        <mat-grid-tile-footer>
          <h1 mat-line [routerLink]="['/itemdetail', item.id]">{{item.name | uppercase}}</h1>
          <mat-form-field>
            <mat-select [(value)]="item.itemInstanceStateDto.id" (selectionChange)="itemStateChanged(item)">
              <mat-option *ngFor="let itemState of itemStates" [value]="itemState.id">
                {{itemState.state}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="items">
    <mat-spinner></mat-spinner>
    <h4>Cargando . . . Por favor espere!</h4>
  </div>

</div>
